extends layout

block layout-head
    link(rel="stylesheet" href="/charts/Chart.css")

block  layout-header-nav-buttons
        li.nav-item
          a.nav-link(href='#') NEWITEM

block layout-content
    h1.mt-3 Core application tests ownership library
    div.container
      div.row.hidden
        div.col-sm
          | Demo charts
      div.row
        div.col-sm
          p.lead
            div.input-group.mb-3
              input(id="teamName" class="form-control typeahead" type="text" placeholder="Team name" aria-label="Team name" aria-describedby="button-addon2" data-provide="typeahead" autocomplete="off")
        div.col-sm
          p.lead
            div.input-group.mb-3
              p(id="teamsDescription")
      div.row.hidden
        div.col-sm
          div.card
            h5.card-title Card title
            canvas.card-body(id="chPie")
            a.card-link(href="#") Link1
        div.col-sm
          div.card
             div.card-body
                canvas(id="chLine")
        div.col-sm
          One of three columns

      div.row
        div.col-sm
            span &nbsp;

      div.row
        div.col-sm
          div.card(id="testsByType")
            div.card-header.card-title Tests by type
            div.spinner-block
                div.spinner-border
                    span.sr-only 'Loading...'
            div.alert-icon.text-danger.hidden
                svg(class="bi" width="32" height="32" fill="currentColor")
                    use(xlink:href="bootstrap-icons/bootstrap-icons.svg#exclamation-triangle-fill")
            canvas.card-body.content.hidden
        div.col-sm
          div.card(id="testsByLibs")
            div.card-header.card-title Tests by libs
            div.spinner-block
                div.spinner-border
                    span.sr-only 'Loading...'
            div.alert-icon.text-danger.hidden
                svg(class="bi" width="32" height="32" fill="currentColor")
                  use(xlink:href="bootstrap-icons/bootstrap-icons.svg#exclamation-triangle-fill")
            canvas.card-body.content.hidden

      div.row
        div.col-sm
          span &nbsp;

      div.row
        div.col-sm
          div.card(id="libraryCounts")
            div.card-header.card-title Library
            div.spinner-block
                div.spinner-border
                    span.sr-only 'Loading...'
            div.alert-icon.hidden.text-danger
                svg(class="bi" width="32" height="32" fill="currentColor")
                  use(xlink:href="bootstrap-icons/bootstrap-icons.svg#exclamation-triangle-fill")
            div.card-body.row.text-center.hidden.content
                div.col
                    div.text-value-xl.data-values(data-field="testsCount" data-target="text")
                    div.text-uppercase.text-muted.small Tests
                div.vr
                div.col
                    div.text-value-xl.data-values(data-field="fTestInvCount" data-target="text")
                    div.text-uppercase.text-muted.small FTest Inventory
                div.vr
                div.col.align-middle
                    div.text-value-xl.data-values(data-field="teamsCount" data-target="text")
                    div.text-uppercase.text-muted.small Teams

block layout-footer
  span.text-muted Place sticky footer content here.
  script(type="text/javascript" src="/js/charthelper.js")
  script(type="text/javascript" src="/js/dashboard.js")
  script(type="text/javascript" src="/charts/Chart.js")
