extends layout

block layout-head
    script(type="text/javascript" src="/js/charthelper.js")
    script(type="text/javascript" src="/js/dashboard.js")

block  layout-header-nav-buttons
        li.nav-item
          a.nav-link(href='#') NEWITEM

block layout-content
    h1.mt-3 Find by Owning Team
    div.container
      div.row
        div.col-sm
          | Demo charts
      div.row
        div.col-sm
          div.card
             div.card-body
                h5.card-title Card title
                canvas(id="chPie")
                a.card-link(href="#") Link1
        div.col-sm
          div.card
             div.card-body
                canvas(id="chLine")
        div.col-sm
          One of three columns

      div.row
        div.col-sm
          | Stats charts
      div.row
        div.col-sm
          div.card(id="testsByType")
             div.card-body
                h5.card-title Tests by type
                div.spinner-border
                    span.sr-only Loading...
                canvas.hidden
        div.col-sm
          div.card
             div.card-body
                h5.card-title Size of library
                div.spinner-border
                    span.sr-only 'Loading...'
                p.card-text.hidden
                    | Tests:
                    | p(id="testsCount")
                p.card-text.hidden
                    | FTest Inventory:
                    | p(id="testsCount")
        div.col-sm
          One of three columns

block layout-footer
     span.text-muted Place sticky footer content here.
