extends layout

block layout-head
    script(type="text/javascript" src="/js/dashboard.js")

block  layout-header-nav-buttons
        li.nav-item
          a.nav-link(href='#') NEWITEM

block layout-content
    h1.mt-3 Find by Owning Team
    p.lead
        | Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with
        code padding-top: 60px;
        |  on the
        code body > .container
        | .
    p
        | Back to
        a(href='../sticky-footer') the default sticky footer
        |  minus the navbar.
    div.View
        div.Message
            div.Title
                h3 Making the Best
                h1 Food For Devs
            span.Details Access the WHATABYTE Team Portal
    div.container
      div.row
        div.col-sm
             div.card-body
                h5.card-title Card title
                canvas(id="chPie")
                a.card-link(href="#") Link1
        div.col-sm
          div.card
             div.card-body
                canvas(id="chLine")
        div.col-sm
          One of three columns

block layout-footer
     span.text-muted Place sticky footer content here.
