extends layout

block layout-head
    script(type="text/javascript" src="/js/charthelper.js")
    script(type="text/javascript" src="/js/dashboard.js")

block  layout-header-nav-buttons
        li.nav-item
          a.nav-link(href='#') NEWITEM

block layout-content
    h1.mt-3 Find by Owning Team
    div.container
      div.row
        div.col-sm
          | Demo charts
      div.row
        div.col-sm
          div.card
             div.card-body
                h5.card-title Card title
                canvas(id="chPie")
                a.card-link(href="#") Link1
        div.col-sm
          div.card
             div.card-body
                canvas(id="chLine")
        div.col-sm
          One of three columns

      div.row
        div.col-sm
          | Stats charts
      div.row
        div.col-sm
          div.card(id="testsByType")
             div.card-body
                h5.card-title Tests by type
                div.spinner-border
                    span.sr-only Loading...
                div.alert-icon.text-danger.hidden
                    span.glyphicon.glyphicon-exclamation-sign
                canvas.content.hidden
        div.col-sm
          div.card(id="libraryCounts")
             div.card-body
                h5.card-title Size of library
                div.spinner-border.text-center
                    span.sr-only 'Loading...'
                div.alert-icon.hidden.text-danger.text-center
                    svg(class="bi" width="32" height="32" fill="currentColor")
                      use(xlink:href="bootstrap-icons/bootstrap-icons.svg#exclamation-triangle-fill")
                p.card-text.hidden.content
                    | Tests:
                    span.data-values(data-field="testsCount" data-target="text")
                p.card-text.hidden.content
                    | FTest Inventory:
                    span.data-values(data-field="fTestInvCount" data-target="text")
        div.col-sm
          One of three columns

block layout-footer
     span.text-muted Place sticky footer content here.
