block variables
doctype html
html
    head
        meta(charset="utf-8")
        link(rel="shortcut icon", href="/favicon.ico")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="theme-color", content="#000000")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="/bootstrap/css/bootstrap.css")
        link(rel="stylesheet" href="/dataTables-bs4/css/dataTables.bootstrap4.css")
        link(rel="stylesheet" href="/bootstrap-material-design/css/bootstrap-material-design.css")
        link(rel="stylesheet" href="/Chart.css")
        script(type="text/javascript" src="/jquery/jquery.js")
        script(type="text/javascript" src="/popper/popper.js")
        script(type="text/javascript" src="/bootstrap/js/bootstrap.js")
        script(type="text/javascript" src="/dataTables/js/jquery.dataTables.js")
        script(type="text/javascript" src="/dataTables-bs4/js/dataTables.bootstrap4.js")
        script(type="text/javascript" src="/bootstrap-material-design/js/bootstrap-material-design.js")
        script(type="text/javascript" src="/js/datatable.pipeline.js")
        script(type="text/javascript" src="/js/common.js")
        script(type="text/javascript" src="/charts/Chart.js")
        block layout-head
        title #{title} | Core App Test Ownership
    body
        header
          //  Fixed navbar
          nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
            a.navbar-brand(href='#') Test Classes Ownership
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
              span.navbar-toggler-icon
            .collapse.navbar-collapse#navbarCollapse
              ul.navbar-nav.mr-auto
                li.nav-item.active
                  a.nav-link(href='#') Home
                    span.sr-only (current)
                li.nav-item
                  a.nav-link(href='testsByTeam') TestsByTeam
                li.nav-item
                  a.nav-link(href='teams') Teams
                li.nav-item.hidden
                  a.nav-link(href='#') Link
                li.nav-item.hidden
                  a.nav-link.disabled(href='#') Disabled
                block layout-header-nav-buttons
              form.form-inline.mt-2.mt-md-0
                input.form-control.mr-sm-2(type='text' placeholder='Search' aria-label='Search')
                button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
                block layout-header

        main.container(role='main')
            div.content
                block layout-content

        footer.footer
          div.container
            block layout-footer
