extends layout

block layout-content
    div.View
        h1.Banner Core App Test Ownership
        div.Message
            div.Title
                h3 Unknown method for controller
                h1 Controller : #{controller}
                h1 Method: #{method}
                h1 Url: #{url}
            span.Details Access the WHATABYTE Team Portal
        div.NavButtons
            a(href="/user")
                div.NavButton Just dive in!
            a(href="/login")
                div.NavButton Log in
